.h1_1 {
    background-color: crimson;
}
.h1_2 {
    background-color: teal;
}
div.login {
    width: 100%;
    background-color: darkblue;
    padding: 10px;
}
div.login input {
    margin: 3px;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
input.input-login {
    
}
input#login {
    margin: 3px;
}
fieldset {
    color: white;
    border-radius: 10px;
}