* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
.h1_1 {
  background-color: crimson;
}
.h1_2 {
  background-color: teal;
}
div.login {
  width: 100%;
  background-color: darkblue;
  padding: 10px;
}
div.login input {
  margin: 3px;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
input#login {
  margin: 3px;
}
fieldset {
  color: white;
  border-radius: 10px;
}
.input-container {
  width: 100%;
  display: inline-flex;
}
header {
  background-color: black;
  color: white;
  width: 100%;
  padding: 30px;
}
header * {
  background-color: black;
  color: white;
}
nav {
  width: 100%;
  display: inline-block;
}
nav a {
  padding: 10px;
  text-decoration: none;
}
main {
  margin: 10px;
  padding: 50px;
  background-color: white;
  color: black;
  display: block;
}
main * {
  margin: 5px;
}
form {
  padding: 15px;
}
.input-container {
  width: 100%;
  display: inline-flex;
}
.input-container input {
  width: 100%;
  padding: 3px;
}
button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 3px;
}
button[type="reset"] {
  background-color: gray;
  color: red;
  padding: 3px;
}
